
@model TheHangerCompany.Models.HangerTypeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Hangers" asp-action="Index" method="get">
    <p>
        <select asp-for="HangerType" asp-items="Model.Type">
            <option value="">All</option>
        </select>

        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
         
                @Html.DisplayNameFor(model => model.Hangers[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hangers[0].ReleaseDate)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hangers[0].Type)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hangers[0].Price)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hangers[0].Color)
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hangers[0].Size)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hangers[0].MaxWeightCapacity)
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hangers[0].Material)
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Hangers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxWeightCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Material)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
